salesforce/force-app/main/default/flows/Create_Test_Contacts_For_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Auto-launched flow: pass accountName → looks up the Account → creates 2 Contacts named &quot;&lt;accountName&gt; Contact 1&quot; and &quot;&lt;accountName&gt; Contact 2&quot; linked to that Account.</description>
    <environments>Default</environments>
    <interviewLabel>Create Test Contacts For Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Test Contacts For Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>

    <start>
        <locationX>176</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account_By_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>

    <!-- ══════════════════════════════
         VARIABLES
    ══════════════════════════════ -->
    <variables>
        <!-- INPUT: caller passes account name -->
        <name>accountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <description>Name of the Account to look up and link the new Contacts to.</description>
    </variables>
    <variables>
        <name>contact1Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contact2Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>

    <!-- ══════════════════════════════
         TEXT TEMPLATES
    ══════════════════════════════ -->
    <textTemplates>
        <name>tpl_LastName1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!accountName} Contact 1</text>
    </textTemplates>
    <textTemplates>
        <name>tpl_LastName2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!accountName} Contact 2</text>
    </textTemplates>
    <textTemplates>
        <name>tpl_Email1</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>testcontact1+{!accountName}@orgforge.dev</text>
    </textTemplates>
    <textTemplates>
        <name>tpl_Email2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>testcontact2+{!accountName}@orgforge.dev</text>
    </textTemplates>

    <!-- ══════════════════════════════
         RECORD LOOKUPS
    ══════════════════════════════ -->
    <recordLookups>
        <name>Get_Account_By_Name</name>
        <label>Get Account By Name</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Check_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>accountName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ══════════════════════════════
         DECISIONS
    ══════════════════════════════ -->
    <decisions>
        <name>Check_Account_Found</name>
        <label>Account Found?</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Account Not Found — End</defaultConnectorLabel>
        <rules>
            <name>Yes_Account_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Name.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_1</targetReference>
            </connector>
            <label>Yes — Account Found</label>
        </rules>
    </decisions>

    <!-- ══════════════════════════════
         RECORD CREATES
    ══════════════════════════════ -->
    <recordCreates>
        <name>Create_Contact_1</name>
        <label>Create Contact 1</label>
        <locationX>176</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Assign_Contact1_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>tpl_LastName1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>tpl_Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>+10000000001</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>QA Test Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto-created by OrgForge flow for testing purposes.</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_2</name>
        <label>Create Contact 2</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <connector>
            <targetReference>Assign_Contact2_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <stringValue>Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>tpl_LastName2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>tpl_Email2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <stringValue>+10000000002</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <stringValue>QA Test Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Department</field>
            <value>
                <stringValue>Engineering</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Auto-created by OrgForge flow for testing purposes.</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>

    <!-- ══════════════════════════════
         ASSIGNMENTS
    ══════════════════════════════ -->
    <assignments>
        <name>Assign_Contact1_Id</name>
        <label>Assign Contact 1 Id</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>contact1Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact2_Id</name>
        <label>Assign Contact 2 Id</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>contact2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>

</Flow>
